<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="iceshrimp.dev" value="https://iceshrimp.dev/api/packages/iceshrimp/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="iceshrimp.dev">
      <package pattern="Iceshrimp.*" />
      <package pattern="dotNetRdf.Core" />
      <package pattern="NetVips.Native" />
      <package pattern="SixLabors.ImageSharp" />
      <package pattern="PommaLabs.MimeTypes" />
    </packageSource>
  </packageSourceMapping>
</configuration>
