.announcement-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.compose {
    width: 100%;
    max-width: 45rem;
}

.header {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    gap: 0.5rem;
    position: relative;
    margin-bottom: 0.5rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.footer .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.input {
    display: block;
    margin: 0;
    padding: 0.5em;
    background-color: var(--background-color);
    border: none;
    outline: none;
}

.textarea {
    display: block;
    margin: 0;
    padding: 0.5em;
    background-color: var(--background-color);
    border: none;
    outline: none;
    resize: vertical;
}

.separator {
    color: var(--highlight-color);
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    border-style: solid;
}

::deep {
    .announce-btn {
        display: flex;
        margin-left: auto;
        align-items: center;
        border-radius: 0.5rem;
        padding: 0.5rem 0.75rem;
        background: var(--accent-color);
        color: var(--font-color);
        float: right;
        > .icon-wrapper {
            padding-left: 0.5rem;
        }
    }
}

::deep {
    .btn[disabled],
    .announce-btn[disabled] {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.btn {
    padding: 0.5rem 0.75rem;
    height: max-content;
    background-color: var(--background-color);
    line-height: 1;
    vertical-align: middle;
}

.btn:hover {
    background-color: var(--hover-color);
}

.compose .preview {
    padding: 0.5rem 0.5em 0;
    width: 100%;
    overflow: clip;
    white-space: pre-wrap;
}

.compose img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: scale-down;
}

.file-input {
    display: none;
}

@media screen and (width < 600px) {
    .compose {
        max-width: unset;
        min-height: 100vh;
        border: none;
        border-radius: 0;
        transform: translateY(1rem);
    }

    .compose:open {
        transform: translateY(0);
    }

    @starting-style {
        .compose:open {
            transform: translateY(1rem);
        }
    }
}