.emoji-search {
    display: flex;
    margin-top: 1rem;

    button {
        margin-right: 0;
    }
}

.search {
    display: inline-block;
    width: 100%;
    margin-left: 0;
}

.category-name {
    display: inline-block;
    margin: 1rem 0 0.5rem;
    font-weight: bold;
}

.emoji-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.file-input {
    display: none;
}

@media (max-width: 1000px) {
    .emoji-list {
        flex-direction: column;
    }
}