.emoji-search {
    display: flex;
    margin: 1rem 0;
    gap: 0.5rem;
}

.emoji-search ::deep button {
    margin: 0;
}

.emoji-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

@media screen and (width < 600px) {
    .emoji-search {
        flex-direction: column;
    }

    .emoji-list {
        flex-direction: column;
    }
}