.emoji-search {
    display: flex;
    margin-top: 1rem;
}

.search {
    display: inline-block;
    width: 100%;
}

.search-from {
    display: inline-block;
}

.category-name {
    display: inline-block;
    margin: 1rem 0 0.5rem;
    font-weight: bold;
}

.emoji-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    width: 100%;
}

@media (max-width: 1000px) {
    .emoji-list {
        grid-template-columns: 1fr;
    }
}