@page "/mod/overview"
@attribute [Authorize(Roles = "moderator")]
@layout ModerationLayout
@using Iceshrimp.Frontend.Localization
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.Extensions.Localization
@using Iceshrimp.Assets.PhosphorIcons
@using Microsoft.AspNetCore.Authorization
@using Iceshrimp.Frontend.Components
@inject IStringLocalizer<Localization> Loc;

<HeadTitle Text="@Loc["Moderation"]"/>

<SectionContent SectionName="top-bar">
    <Icon Name="Icons.Shield"></Icon>
    @Loc["Moderation"]
</SectionContent>

<div class="body">
    <i>@Loc["Moderation overview"]</i>
</div>

@code {
}