.report {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0.5rem 0;
    padding: 1.5rem;
    width: 100%;
    max-width: 45rem;
    background-color: var(--foreground-color);
    border-radius: 0.75rem;
}

.report-user {
    display: flex;
    align-items: center;
}

.report-details {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: right;
}

.report-resolved {
    color: var(--notice-color);
}

.report-unresolved {
    color: var(--danger-color);
}

.field {
    display: flex;
    column-gap: 0.5rem;
    margin: 0.2rem 0;

    .field-name {
        font-weight: 600;
        width: 10rem;
        word-wrap: break-word;

        .icon-wrapper {
            vertical-align: text-bottom;
        }
    }
}

.report-comment {
    margin: 8px 0;
    padding-left: 12px;
    border-left: solid 4px var(--highlight-color);
}

.rules {
    margin: 0;
    padding-left: 1rem;
}

.rules li {
    list-style: disc;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    z-index: +1;
}

.button {
    display: inline-flex;
    align-items: center;
    height: 2em;
    margin: 0;
    padding: 0.75em;
    background-color: var(--foreground-color);
    color: var(--notice-color);
    border: 0.1rem solid var(--foreground-color);
    width: fit-content;
    cursor: pointer;
}

.button.danger {
    color: var(--danger-color);
}

.button:hover {
    transition: 250ms;
    border-color: var(--notice-color);
    background-color: var(--hover-color);
}

.button.danger:hover {
    border-color: var(--danger-color);
}

::deep .button .ph {
    margin-right: 0.5rem;
}

details {
    overflow: clip;
}

details summary {
    cursor: pointer;
}

.notes {
    display: flex;
    flex-direction: column;
}

.note-container {
    max-width: 45rem;
    background-color: var(--foreground-color);
    padding: 1.5rem 1.5rem 1rem; /* top, left-right, bottom*/
    @media (max-width: 1000px) {
        padding: 1.5rem 1rem 1rem;
    }
    border-radius: 0.75rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    width: 100%;
    overflow: clip;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

@media (max-width: 640px) {
    .field {
        flex-direction: column;

        .field-name {
            width: auto;
        }
    }

    .field .field-value {
        width: auto;
    }

    .field + .field {
        margin-top: 0.5rem;
    }
}