.name-section {
    display: flex;
    flex-direction: column;
    padding-left: 0.75em;

    .identifier {
        font-size: 0.8em;
        text-overflow: ellipsis;
        overflow: clip;
        white-space: wrap;

        .host {
            opacity: 0.5;
        }
    }
    min-width: 2rem;
    overflow: clip;
    margin-right: 1rem;
}

.display-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
}

::deep .identifier .ph {
    display: inline-block;
    margin-right: 0.25em;
    vertical-align: middle;
}