.user-avatar {
    border-radius: 8px;
    object-fit: cover;
    width: 3em;
    height: 3em;
}

.name-section {
    display: flex;
    flex-direction: column;
    padding-left: 0.75em;

    .identifier {
        font-size: 0.8em;
        text-overflow: ellipsis;
        overflow: clip;
    }

    flex-shrink: 1;
    min-width: 2rem;
    overflow: clip;
    margin-right: 1rem;
}

.display-name {
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: clip;
}

.identifier {
    white-space: wrap;
}

::deep .identifier .ph {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
}