@using Iceshrimp.Assets.PhosphorIcons
<CascadingValue Value="this">

@if (NoteResponse.Renote != null)
{
    <div class="renote">
        <div class="renote-info">
            <span class="user">
                <Icon Name="Icons.Repeat" /> Boosted by
                @if (NoteResponse.User.DisplayName != null)
                {
                    @NoteResponse.User.DisplayName
                }
                else
                {
                    @NoteResponse.User.Username
                }
            </span>
            <span class="metadata">
                <NoteMetadata Visibility="NoteResponse.Visibility" InstanceName="@null" CreatedAt="DateTime.Parse(NoteResponse.CreatedAt)"/>
            </span>
        </div>
        <NoteComponent Note="NoteResponse.Renote" Quote="NoteResponse.Quote" Indented="Indented"/>
    </div>
}
else
{
    <NoteComponent Note="NoteResponse" Quote="NoteResponse.Quote" Indented="Indented"/>
}
</CascadingValue>


@code {
}