.renote-info {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
    column-gap: 0.25rem;
    color: var(--notice-color);
}

.renote-info .user {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
}

.renote-info .user a {
    color: var(--notice-color);
    text-decoration-line: none;
}

.renote-info .user a:hover {
    text-decoration-line: underline;
}

.metadata {
    margin-left: auto;
}

.filter-name {
    filter: blur(0.2rem);
    transition-duration: 0.2s;
    transition-property: filter;
}

.filter-name:hover {
    filter: blur(0);
}