@using Iceshrimp.Shared.Schemas

<div class="attachment-container">
    @foreach (var element in Attachments)
    {
        <div class="wrapper" @onclick="Open" @onclick:stopPropagation="true">
            <img class="attachment" src="@element.Url" alt="@element.AltText"/>
        </div>
    }
    <AttachmentView @ref="View" Attachments="Attachments"></AttachmentView>
</div>
@code {
    [Parameter] [EditorRequired] public required IList<NoteAttachment> Attachments { get; set; }
    private                                      AttachmentView        View        { get; set; } = null!;

    private async void Open()
    {
        await View.OpenDialog();
    }
}