.note-body {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    white-space: pre-wrap;
    max-height: 40em;
    height: auto;
    overflow-y: hidden;
    overflow-wrap: break-word;
}

.note-content.collapsed {
    position: relative;
    
    .truncate-btn {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.note-content > .truncate-btn.show-less {
    position: sticky;
    bottom: 20px;
}

.note-body.too-long {
    mask: linear-gradient(black calc(100% - 64px),transparent);
}

.cw {
    display: inline-block;
}

.cw-button {
    font-size: 0.75em;
    margin-left: 0.5em;
    padding: 0.1em 0.25em;
}

.cw-button:hover {
    background-color: var(--hover-color);
}

.truncate-btn {
    z-index: 5;
    width: 100%;
    margin-top: 0.5em;
    background-color: var(--background-color);
    @container note-body (max-height: 20rem){
        display: none;
    }
}

.truncate-btn:hover {
    background-color: var(--hover-color);
}

.show-full {
    overflow: initial;
    max-height: initial;
    mask: unset !important;
}

.hidden {
    display: none;
}

.indent {
    padding-left: 0.75em;
}

.reply-inaccessible {
    color: var(--notice-color);
    vertical-align: middle;
    margin-right: 0.25em;
}

.quote {
    border-style: solid;
    border-color: var(--highlight-color);
    border-width: 0.2rem;
    border-radius: 1.25rem;
    padding: 1rem;
    margin: 0.5rem;
}