.metadata {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 0.9em;
    white-space: nowrap;
    margin-left: auto;
    min-width: 3rem;
    overflow: clip;
    flex-basis: 30%;
    flex-shrink: 2;

    .info {
        display: block;

        .time {
            display: inline-block;
            margin-right: 0.5em;
        }

        a.time {
            color: var(--font-color);
            text-decoration-line: none;
        }

        a.time:hover {
            text-decoration-line: underline;
        }

        .visibility {
            display: inline-block;
            vertical-align: middle;
            font-size: 1rem;
        }
    }
}

.ticker {
    --color: var(--highlight-color);
    display: inline-flex;
    gap: 0.5em;
    align-items: center;
    /*Left align so the right side is truncated*/
    align-self: start;
    /*Margin on the left so non truncated names are aligned to the right*/
    margin-left: auto;
    padding: 0 0.3rem;
    background-color: var(--color);
    border-radius: 4px;
    font-size: 0.9em;
    text-overflow: ellipsis;
    overflow: clip;
    .icon {
        width: 1rem;
        height: 1rem;
        color: transparent;
        border-radius: 4px;
        line-height: 1;
    }
    .instance {
        color: var(--light-color);
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}

.visibility:has(.ph-globe) {
    color: var(--accent-primary-color);
}

.visibility:has(.ph-house) {
    color: var(--notice-color);
}

.visibility:has(.ph-lock) {
    color: var(--warning-color);
}

.visibility:has(.ph-envelope) {
    color: var(--danger-color);
}

@media screen and (width < 600px) {
    .metadata {
        flex-basis: 25%;
        
        .instance {
            display: none;
        }
    }

    .ticker {
        padding: 0;
        background-color: unset;
    }
}