@using Iceshrimp.Shared.Schemas.Web
<button @onclick="React" class="reaction">
    <span class="icon">
        @if (Reaction.Url == null)
        {
            @Reaction.Name
        }
        @if (Reaction.Url != null)
        {
            <img class="custom-reaction" src="@Reaction.Url" alt="@Reaction.Name"/>
        }
    </span>
    <span class="count">
        @Reaction.Count
    </span>
</button>

@code {
    [Parameter] [EditorRequired] public required NoteReactionSchema Reaction      { get; set; }
    [CascadingParameter]                         Note      Note { get; set; } = null!;

    private void React()
    {
        Note.React(Reaction.Name, !Reaction.Reacted);
    }
}