@if (Indented == false)
{
    <img class="user-avatar" src="@AvatarUrl"/>
}
<div class="name-section">
    <span class="display-name">@(DisplayName ?? Username)</span>
    <span class="identifier">@Username@@@Host</span>
</div>
@code {
    [Parameter][EditorRequired] public required string  AvatarUrl   { get; set; }
    [Parameter][EditorRequired] public required string? DisplayName { get; set; }
    [Parameter][EditorRequired] public required string  Username    { get; set; }
    [Parameter][EditorRequired] public required bool    Indented    { get; set; }
    [Parameter][EditorRequired] public required string  Host        { get; set; }
}