.note-header {
    display: flex;
    padding-bottom: 0.5em;
    position: relative;
    z-index: +1;
}

.note-container {
    width: 100%;
    overflow: clip;
}

.user-avatar {
    border-radius: 8px;
    object-fit: cover;
    min-width: 3em;
    min-height: 3em;
    width: 3em;
    height: 3em;
}

.quote {
    border-style: solid;
    border-color: var(--highlight-color);
    border-width: 0.2rem;
    border-radius: 1.25rem;
    padding: 1rem;
    margin: 0.5rem;
}

.quote-link {
    text-decoration: none;
    color: var(--notice-color);
    font-style: italic;
}