.name-section {
    display: flex;
    flex-direction: column;
    padding-left: 0.75em;
    text-wrap: nowrap;

    .identifier {
        font-size: 0.8em;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: clip;
        white-space: nowrap;
    }
    min-width: 2rem;
    overflow: clip;
    margin-right: 1rem;
}

.display-name {
    color: var(--font-color);
    text-decoration-line: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
}

.display-name:hover {
    text-decoration-line: underline;
}

::deep .identifier .icon-wrapper {
    display: inline-block;
    margin-right: 0.25em;
    vertical-align: -0.25em;
}