.announcement {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0.5rem 0;
    padding: 1.5rem;
    width: 100%;
    max-width: 45rem;
    background-color: var(--foreground-color);
    border-radius: 0.75rem;
    overflow: hidden;
}

.announcement.unread {
    border: 0.05rem solid var(--notice-color);
}

.title {
    z-index: +1;
    font-size: 1.2rem;
    font-weight: bold;
}

.text {
    white-space-collapse: preserve;
}

img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: scale-down;
}

.metadata {
    opacity: 0.7;
}

.buttons {
    z-index: +1;
}

.button {
    display: inline-flex;
    align-items: center;
    height: 2em;
    margin: 0;
    padding: 0.75em;
    background-color: var(--foreground-color);
    color: var(--notice-color);
    border: 0.1rem solid var(--foreground-color);
    width: fit-content;
    cursor: pointer;
}

.button.danger {
    color: var(--danger-color);
}

.button:hover {
    transition: 250ms;
    border-color: var(--notice-color);
    background-color: var(--hover-color);
}

.button.danger:hover {
    border-color: var(--danger-color);
}

::deep .button .ph {
    margin-right: 0.5rem;
}