@* ReSharper disable once RedundantUsingDirective *@
@using Iceshrimp.Frontend.Components.Note
@using Iceshrimp.Shared.Schemas.Web
@inject NavigationManager NavigationManager
<div class="note-parent">
    <div class="note-container">
        <div class="note-indent">
            <img class="user-avatar" src="@Note.User.AvatarUrl"/>
            <Line></Line>
        </div>
        <div class="note" @onclick="OpenNote">
            <Note Indented="true" NoteResponse="Note"/>
        </div>
    </div>
</div>


@code {
    [Parameter] [EditorRequired] public required NoteResponse Note { get; set; }

    private void OpenNote()
    {
        NavigationManager.NavigateTo($"/notes/{Note.Id}");
    }
}