.attachment {
    max-width: 100%;
    object-fit: contain;
    max-height: 30rem;
    aspect-ratio: 3/2;
}

audio.attachment {
    width: 100%;
}

.file {
    display: inline-block;
    white-space: normal;

    > a {
        text-decoration: none;
        color: var(--notice-color)
    }
}

::deep {
    .attachment.file .ph {
        display: inline-block;
        vertical-align: middle;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    overflow: clip;
    background: var(--background-color);
    border-radius: 0.5rem;
}

.blur-image {
    filter: blur(1rem);
}