.attachment {
    max-width: 100%;
    object-fit: contain;
    max-height: 25rem;
    border-radius: 0.5rem;
}
    
audio.attachment {
    width: 100%;
}

.file {
    display: inline-block;
    white-space: normal;
}

::deep {
    .attachment.file .ph {
        display: inline-block;
        vertical-align: middle;
    }
}

.wrapper {
    flex: 1 1 48%;
    margin-right: 0.2em;
    margin-left: 0.2em;
    text-align: center;
}

.blur-image {
    filter: blur(1rem);
}