.attachment {
    max-width: 100%;
    object-fit: contain;
    min-height: 3rem;
    max-height: 30rem;
    aspect-ratio: 3/2;
}

.alt-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem 0.75rem;
    height: max-content;
    z-index: +1;
    background-color: color-mix(in srgb, var(--background-color) 80%, transparent);
    line-height: 1;
}

.alt-btn:hover {
    background-color: color-mix(in srgb, var(--hover-color) 80%, transparent);
}

audio.attachment {
    width: 100%;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;

    a {
        text-decoration: none;
        color: var(--notice-color);
    }
}

::deep {
    .attachment.contents .ph {
        display: block;
        margin-bottom: 0.5rem;
        vertical-align: middle;
        text-align: center;
    }
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: clip;
    background: var(--background-color);
    border-radius: 0.5rem;
}

.wrapper:has(> img) {
    cursor: pointer;
}

.blur-image {
    filter: blur(10rem);
    cursor: pointer;
}