.compose {
    background-color: var(--background-color);
    border-radius: 1rem;
    margin: 10% auto 0;
    padding: 1rem;
    max-width: 45rem;
    color: var(--font-color);
    border: solid var(--highlight-color) 0.05rem;
}

.compose input {
    margin: 0;
    padding: 0.5em;
}

.compose textarea {
    margin: 0;
    padding: 0.5em;
    resize: vertical;
}

.compose .attachments {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.compose .preview {
    padding: 0.5rem 0.5em 0;
    width: 100%;
    overflow: clip;
    white-space: pre-wrap;
}

.dialog {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    margin: auto;
    background-color: unset;
    z-index: +11;
    overflow-y: scroll;
}

.backdrop {
    opacity: 50%;
    background-color: black;
}

.header {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    gap: 0.5rem;
    position: relative;
    margin-bottom: 0.5rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.footer .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.footer .buttons:last-of-type {
    margin-left: auto;
}

.textarea {
    display: block;
    background-color: var(--background-color);
    border: none;
    outline: none;
    padding: unset;
}

.input {
    display: block;
    background-color: var(--background-color);
    border: none;
    outline: none;
}

.cw-field {
    padding: unset;
    margin-bottom: 0.5rem;
    width: 100%;
}

::deep {
    .post-btn {
        display: flex;
        margin-left: auto;
        align-items: center;
        border-radius: 0.5rem;
        padding: 0.5rem 0.75rem;
        background: var(--accent-color);
        color: var(--font-color);
        float: right;
        > i {
            padding-left: 0.5rem;
        }
    }
}

::deep {
    .btn[disabled],
    .post-btn[disabled] {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.btn {
    padding: 0.5rem 0.75rem;
    height: max-content;
    background-color: var(--background-color);
    line-height: 1;
}

.btn:hover {
    background-color: var(--hover-color);
}

::deep {
    .dropdown-root, .dropdown-menu {
        color: var(--notice-color);
        z-index: +2;
    }
}

.separator {
    color: var(--highlight-color);
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    border-style: solid;
}

.file-input {
    display: none;
}

.reply-or-quote {
    border: solid var(--highlight-color) 0.1rem;
    border-radius: 0.75rem;
    padding: 0.75rem;
    overflow: clip;
}

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -2
}

@media (max-width: 1000px) {
    .dialog {
        z-index: +25;
    }

    .compose {
        width: 100%;
        max-width: unset;
        min-height: 100vh;
        margin-top: 0;
        padding-top: 0;
        border-radius: 0;
    }
    
    .header {
        position: sticky;
        top: 0;
        margin-bottom: 0;
        padding: 1rem 0 0.5rem;
        z-index: +2;
        background-color: var(--background-color);
    }
}