.attachment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    max-width: 10rem;
    padding: 0.5rem 0.5rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
}

.attachment:hover {
    background-color: var(--hover-color);
}

.file-name {
    font-size: 0.8em;
    text-align: center;
    word-wrap: break-word;
}

::deep {
    .ph {
        display: block;
        vertical-align: middle;
        line-height: 1;
        color: var(--notice-color);
    }
}

::deep {
    .labels .ph {
        display: inline-block;
        vertical-align: top;
    }
}

::deep .labels .ph-eye-slash {
    color: var(--warning-color);
}

::deep .labels .ph-warning {
    color: var(--danger-color);
}

img.thumbnail {
    display: block;
    height: 5em;
    width: 5em;
    object-fit: contain;
}