.compose {
    width: 100%;
    max-width: 45rem;
}

.compose input {
    margin: 0;
    padding: 0.5em;
}

.compose textarea {
    margin: 0;
    padding: 0.5em;
    resize: vertical;
}

.poll .choice {
    display: flex;
    flex-direction: row;
    align-items: center;

    .input {
        width: 100%;
    }
}

.poll .expire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: end;
    margin-top: 0.5em;

    select {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

input[type="number"] {
    width: 6em;
}

.compose .attachments {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.compose .preview {
    padding: 0.5rem 0.5em 0;
    width: 100%;
    overflow: clip;
    white-space: pre-wrap;
}

.header {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    gap: 0.5rem;
    position: relative;
    margin-bottom: 0.5rem;
}

::deep .header {
    .dropdown-root:has(.ph-globe),
    .dropdown-menu .dropdown-element:has(.ph-globe) {
        color: var(--accent-primary-color);
    }
}

::deep .header {
    .dropdown-root:has(.ph-house),
    .dropdown-menu .dropdown-element:has(.ph-house) {
        color: var(--notice-color);
    }
}

::deep .header {
    .dropdown-root:has(.ph-lock),
    .dropdown-menu .dropdown-element:has(.ph-lock) {
        color: var(--warning-color);
    }
}

::deep .header {
    .dropdown-root:has(.ph-envelope),
    .dropdown-menu .dropdown-element:has(.ph-envelope) {
        color: var(--danger-color);
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.footer .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.footer .buttons:last-of-type {
    margin-left: auto;
}

.textarea {
    display: block;
    background-color: var(--background-color);
    border: none;
    outline: none;
    padding: unset;
}

.input {
    display: block;
    background-color: var(--background-color);
    border: none;
    outline: none;
}

.cw-field {
    padding: unset;
    margin-bottom: 0.5rem;
    width: 100%;
}

::deep {
    .post-btn {
        display: flex;
        margin-left: auto;
        align-items: center;
        border-radius: 0.5rem;
        padding: 0.5rem 0.75rem;
        background: var(--accent-color);
        color: var(--font-color);
        float: right;
        > .icon-wrapper {
            padding-left: 0.5rem;
        }
    }
}

::deep {
    .btn[disabled],
    .post-btn[disabled] {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.btn {
    padding: 0.5rem 0.75rem;
    height: max-content;
    background-color: var(--background-color);
    line-height: 1;
    vertical-align: middle;
}

.btn:hover {
    background-color: var(--hover-color);
}

::deep {
    .dropdown-root, .dropdown-menu {
        color: var(--notice-color);
        z-index: +2;
    }
}

.separator {
    color: var(--highlight-color);
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    border-style: solid;
}

.file-input {
    display: none;
}

.reply-or-quote {
    border: solid var(--border-color) 0.1rem;
    border-radius: 0.75rem;
    padding: 0.75rem;
    overflow: clip;
}

@media (max-width: 1000px) {
    .compose {
        max-width: unset;
        min-height: 100vh;
        padding-top: 0;
        border: none;
        border-radius: 0;
        transform: translateY(1rem);
    }

    .compose:open {
        transform: translateY(0);
    }

    @starting-style {
        .compose:open {
            transform: translateY(1rem);
        }
    }
    
    .header {
        position: sticky;
        top: 0;
        margin-bottom: 0;
        padding: 1rem 0 0.5rem;
        z-index: +2;
        background-color: var(--background-color);
    }
}