.compose {
    background-color: var(--background-color);
    border-radius: 1rem;
    margin: 0 auto;
    top: 10%;
    padding: 1rem;
    position: relative;
    max-width: 45rem;
}

.dialog {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    margin: auto;
    background-color: unset;
    z-index: +1;
}

.backdrop {
    opacity: 50%;
    background-color: black;
}

.header {
    margin-bottom: 0.5rem;
}

.textarea {
    display: block;
    background-color: var(--background-color);
    border: none;
    outline: none;
    width: 100%;
}

.input {
    display: block;
    background-color: var(--background-color);
    border: none;
    outline: none;
}

.cw-field {
    margin-bottom: 0.5rem;
    width: 100%;
}

.post-btn {
    background: var(--accent-color);
    float: right;
}

.footer-btn {
    width: 2.5rem;
    height: max-content;
    background-color: var(--background-color);
}

.separator {
    color: var(--highlight-color);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.file-input {
    display: none;
}

.reply-or-quote {
    border: solid var(--highlight-color) 0.1rem;
    border-radius: 0.75rem;
    padding: 0.5rem;
}

.positioned {
    position: relative;
    top: 0;
}

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -2
}