.dropdown-menu {
    margin: 0;
    inset: auto;
    position-area: bottom center;
    background-color: var(--background-color);
    min-width: 12rem;
    padding: 0.5rem;
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem var(--shadow-color);
}

.dropdown-root {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    height: max-content;
    line-height: 1;
    cursor: pointer;
    border-radius: 8px;
    background-color: unset;
}

.dropdown-root:hover {
    background-color: var(--hover-color);
}
