@using Iceshrimp.Frontend.Core.Services
@using Iceshrimp.Shared.Schemas
@inject ApiService Api

@if (_display)
{
    <div class="emoji-picker @(Fixed ? "fixed" : "")">
        @foreach (var el in EmojiList)
        {
            <div class="emoji">
                <img @onclick="() => Select(el)" src="@el.PublicUrl" alt="@el.Name"/>
            </div>
        }
    </div>
}

@code {
    [Parameter] [EditorRequired] public required EventCallback<EmojiResponse> OnEmojiSelect { get; set; }
    [Parameter]                  public          bool                         Fixed         { get; set; } = false;

    private List<EmojiResponse> EmojiList { get; set; } = [];
    private bool                _display = false;

    protected override async Task OnInitializedAsync()
    {
        EmojiList = await Api.Emoji.GetAllEmoji();
    }

    private async void Select(EmojiResponse emoji)
    {
        await OnEmojiSelect.InvokeAsync(emoji);
        _display = false;
        StateHasChanged();
    }

    public void Toggle()
    {
        _display = !_display;
    }
}