.emoji-entry {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 25rem;
    background-color: var(--foreground-color);
    border-radius: 0.5rem;
    cursor: pointer;
}

.emoji-entry:hover, .emoji-entry.batch-selected {
    background-color: var(--hover-color);
}

.emoji-details {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.emoji-name::before,
.emoji-name::after {
    display: inline;
    content: ":";
    opacity: 0.7;
}

.emoji-meta {
    opacity: 0.7;
    font-size: 0.8em;
}

::deep {
    .labels .ph {
        display: inline-block;
        line-height: 1;
        color: var(--notice-color);
    }
}

::deep .labels .ph-eye-slash {
    color: var(--warning-color);
}

@media (max-width: 1000px) {
    .emoji-entry {
        width: 100%;
    }
}