.emoji-picker {
    --top: 0px;
    --left: 0px;
    position: absolute;
    background-color: var(--foreground-color);
    border: var(--highlight-color) solid 0.1rem;
    padding: 1rem;
    border-radius: 1rem;
    min-width: 15rem;
    min-height: 10rem;
    max-height: 20rem;
    overflow: auto;
    top: calc(var(--top) + 2.5rem);
    left: calc(var(--left) - 5.5rem);
}

.emoji-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2.5rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(2.5rem, 1fr));
}

.dialog {
    z-index: +12;
}

.emoji {
    > img {
        object-fit: cover;
        height: 2rem;
        width: 2rem;
    }
}

summary {
    padding: 0.5rem 0;
    cursor: pointer;
}

.search {
    margin: 0;
    padding: 0;
}
