.follow-request-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: var(--foreground-color);
    border-radius: 1rem;
    justify-content: space-between;
    max-width: 50rem;
    width: 100%;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    padding-top: unset;
}

.button {
    border: 0.1em solid;
    margin-bottom: unset;
    margin-left: unset;
}

.button.accept {
    border: unset;
    background: var(--accent-color);
    color: white;
}

::deep {
    .profile-card {
        margin-top: 0 !important;
        padding-bottom: 0.5rem !important;

    }
}