.scroller {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    padding: 0.5rem;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25vh;
}