@using Iceshrimp.Shared.Schemas.Web

@if (Url == null)
{
    <span class="unicode-reaction">@Name</span>
}
else
{
    <img class="custom-reaction" src="@Url" alt="@Name"/>
}

@code {
    [Parameter, EditorRequired] public required string  Name { get; set; }
    [Parameter, EditorRequired] public required string? Url  { get; set; }
}