.custom-reaction {
    display: inline-block;
    width: 1em;
    height: 1em;
    object-fit: contain;
    vertical-align: middle;
    font-size: 1.5em;
}

.unicode-reaction {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 1;
}
