
@if (_display)
{
    <div class="menu">
        @ChildContent
    </div>
}

@code {
    [Parameter] [EditorRequired] public required RenderFragment ChildContent { get; set; }
    private                                      bool           _display;

    public void Toggle()
    {
        _display = !_display;
        StateHasChanged();
    }

    public void Close()
    {
        _display = false;
        StateHasChanged();
    }
}