.menu {
    --top: 0px;
    --left: 0px;
    background-color: var(--foreground-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: var(--highlight-color) solid 0.1rem;
    width: 15rem;
    max-width: 20rem;
    top: var(--top);
    left: calc(var(--left) - 7.5rem);
    z-index: +3;
}

::deep .rule {
    align-self: center;
    margin: 0.1rem 0;
    width: 90%;
    color: var(--highlight-color);
    border-width: 0.05rem;
    border-style: solid;
    cursor: auto;
}

@media (max-width: 1000px) {
    .menu {
        top: unset;
        bottom: 0;
        left: 0;
        position: fixed;
        row-gap: 0.5rem;
        width: 100vw;
        max-width: 100vw;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        z-index: +26;
        padding-bottom: env(safe-area-inset-bottom);
    }
}