.menu {
    background-color: var(--foreground-color);
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: var(--highlight-color) solid 0.1rem;
    width: 15rem;
    max-width: 20rem;
    top: 2.5rem;
    left: -5rem;
    z-index: +1;
}