/*These must apply to all child attributes*/
::deep {
    .mention {
        text-decoration: none;
        background-color: var(--highlight-color);
        border-radius: 1em;
        padding: 0.2em 0.5em;

        > .host {
            opacity: 0.5;
        }
        > .user {
            
        }
    }
}