.sidebar-btn {
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: start;
    border-radius: 1.25rem;
    padding-inline: 1rem;
    margin-bottom: 0.5rem;
    margin-inline: 1rem;
    color: var(--font-color);
    font-size: 0.9em;
    background: var(--foreground-color);

    > .icon-wrapper {
        padding-right: 0.5rem;
    }
}
.sidebar-btn:hover {
    background-color: var(--hover-color);
}

::deep .sidebar-btn .ph-megaphone {
    transform: scaleX(-1);
}

.nav {
    padding-top: 1rem;
    width: 15rem;
}

.rule {
    width: 90%;
    color: var(--highlight-color);
    border-style: solid;
}

::deep {
    .active {
        > .sidebar-btn {
            background: var(--highlight-color);
        }
    }
}
::deep {
    a {
        text-decoration: none;
        color: var(--font-color);
    }
}