.metadata {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 0.9em;
    margin-left: auto;
    .info {
        display: block;
        .time {
            display: inline-block;
            margin-right: 0.5em;
        }
        .visibility {
            display: inline-block;
            vertical-align: middle;
            font-size: 1rem;
        }
    }
}