.scroller {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow-y: auto;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25vh;
    margin: auto;
}
::deep {
    .scroll-end {
        height: 3rem;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}