@using Iceshrimp.Frontend.Core.Miscellaneous
@if (_state == State.Init)
{
    <div class="scroller">
        @foreach (var el in Notifications)
        {
            <div class="wrapper">
                <CascadingValue Value="NotificationStore" TValue="NoteMessageProvider" Name="Provider">
                    <NotificationComponent NotificationResponse="el" @key="el.Id"/>
                </CascadingValue>
            </div>
        }
        <ScrollEnd ManualLoad="LoadMore" IntersectionChange="LoadMore"></ScrollEnd>
    </div>
}

@if (_state == State.Loading)
{
    <div>Loading!</div>
}

@if (_state == State.Error)
{
    <div>Something went wrong!</div>
}

@code {
}