@if (_state == State.Init)
{
    <div class="scroller">
        @foreach (var el in Notifications)
        {
            <NotificationComponent NotificationResponse="el" @key="el.Id"/>
        }
        <ScrollEnd ManualLoad="LoadMore" IntersectionChange="LoadMore"></ScrollEnd>
    </div>
}

@if (_state == State.Loading)
{
    <div>Loading!</div>
}

@if (_state == State.Error)
{
    <div>Something went wrong!</div>
}

@code {

}