.notification {
    display: flex;
    background-color: var(--foreground-color);
    border-radius: 0.75rem;
    padding: 1rem 1rem 1rem; /* top, left-right, bottom*/
    margin-bottom: 1rem;
    max-width: 45rem;
    width: 100%;
}

.notification-text {
}

.notification-note {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-avatar {
    border-radius: 8px;
    object-fit: cover;
    width: 3em;
    height: 3em;
    margin-right: 0.5em;
}

.display-name {
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: clip;
}

.notification-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}