.scroller {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: scroll;;
}

.wrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
}