.scroller {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    overscroll-behavior: contain;
}

.wrapper {
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
}