.notice-icon {
    color: var(--notice-color);
}

.notice-icon:has(.ph-warning-circle) {
    color: var(--warning-color);
}

.notice-icon:has(.ph-warning) {
    color: var(--danger-color);
}

.text {
    margin-top: 0;
}