.bio {
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid var(--highlight-color);
    white-space: pre-wrap;
}

.metadata {
    display: flex;
    justify-content: space-evenly;
}
.field {
    text-align: center;
}