.profile-info {
    overflow: hidden;
}

.bio {
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid var(--border-color);
    white-space: pre-wrap;
    word-break: break-word;
}

.data {
    margin: 1rem 0;
}

.metadata {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    border-top: 0.1rem solid var(--border-color);
}

::deep {
    .field {
        display: flex;
        column-gap: 0.5rem;
        margin: 0.2rem 0;
    
        .field-name {
            font-weight: 600;
            width: 10rem;
            word-wrap: break-word;
            
            .icon-wrapper {
                vertical-align: text-bottom;
            }
        }
    }
}

::deep .field .field-value {
    width: calc(100% - 10.5rem);
    word-wrap: break-word;
}

.fields {
    margin: 1rem 0;
}

.section {
    text-align: center;
    .field-data {
        font-weight: 600;
    }
}

.top-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.top-row .badge-group {
    flex: 1 1 0;
}

.top-row .button-group {
    flex: 1 1 0;
    justify-content: end;
}

::deep {
    /* For some reason ph-lock aligns differently than the other icons. This fixes that */
    .badge .icon-wrapper:has(.ph-lock) {
        align-self: end;
    }
}

.context-button {
    margin: 0;
}

.memo-details {
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.75rem;
}

.memo {
    box-sizing: border-box;
    margin: 0.5em 0 0;
}

@media screen and (width < 600px) {
    .top-row {
        align-items: start;
    }

    ::deep .field {
        flex-direction: column;
        
        .field-name {
            width: auto;
        }
    }
    
    ::deep .field .field-value {
        width: auto;
    }
    
    ::deep {
        .field + .field {
            margin-top: 0.5rem;
        }
    }
}