@using Iceshrimp.Shared.Schemas
<div class="field">
    <span class="field-name">@Field.Name</span>
    <span class="field-value">
        <MfmText Text="@Field.Value"></MfmText>
    </span>
</div>

@code {
    [Parameter] [EditorRequired] public required UserProfileField Field { get; set; }
}