.report-note {
    border: solid var(--border-color) 0.1rem;
    border-radius: 0.75rem;
    margin: 1rem auto;
    padding: 0.75rem;
    overflow: clip;
    width: 100%;
    text-align: left;
}

.report-user {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
    width: max-content;
}

.report-user .name-section {
    display: flex;
    flex-direction: column;
    
    text-align: left;
}

.note-ids {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.report-note-add {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.details {
    margin: 0;
}

.rules {
    width: 100%;
    margin-top: 0;
    padding-left: 0;

    text-align: left;
}

@media screen and (width < 600px) {
    .modal {
        min-height: 100vh;
        padding-top: 0;
        border: none;
        border-radius: 0;
    }
}