.sidebar-btn {
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: start;
    border-radius: 1.25rem;
    padding-inline: 0.5rem;
    margin-bottom: 0.5rem;
    margin-inline: 1rem;
    color: white;
    font-size: 0.9em;
    background: var(--foreground-color);
}

.nav {
    padding-top: 1rem;
    max-width: 10rem;
    min-width: 10rem;
}

::deep {
    .active {
        > .sidebar-btn {
            background: var(--highlight-color);
        }
    }
}
::deep {
    a {
        text-decoration: none;
        color: white;
    }
}