@if (ComponentState is Core.Miscellaneous.State.Loaded)
{
    <VirtualScroller @ref=VirtualScroller NoteResponseList="State.Timeline" ReachedEnd="FetchOlder" ReachedStart="FetchNewer"/>
}
@if (ComponentState is Core.Miscellaneous.State.Loading)
{
    <div>Loading</div>
}
@if (ComponentState is Core.Miscellaneous.State.Empty)
{
    <div>No posts here yet! Go find someone to follow!</div>
}

@code {
}