@using Iceshrimp.Shared.Schemas
<div class="note-container" id="@Note.Id">
    <NoteComponent Note="Note"></NoteComponent>
</div>
@code {
    [Parameter][EditorRequired] public required NoteResponse Note { get; set; }
}