@using Iceshrimp.Shared.Schemas.Web
@if (_init)
{
    <VirtualScroller @ref=VirtualScroller NoteResponseList="State.Timeline" ReachedEnd="FetchOlder" ReachedStart="FetchNewer"/>
}
else
{
    <div>Loading</div>
}

@code {
}