@* ReSharper disable once RedundantUsingDirective *@
@using Iceshrimp.Frontend.Components.Note
@using Iceshrimp.Shared.Schemas.Web
@inject NavigationManager Navigation
<div class="note-container" @onclick="OpenNote" id="@Note.Id">
    <Note NoteResponse="Note"></Note>
</div>

@code {
    [Parameter] [EditorRequired] public required NoteResponse Note { get; set; }

    private void OpenNote()
    {
        Navigation.NavigateTo(Note.RenoteId != null ? $"/notes/{Note.RenoteId}" : $"/notes/{Note.Id}");
    }
}