.search {
    display: flex;
    align-items: center;
}

.user-entry {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: left;
    cursor: pointer;
}

.user-entry.selected {
    background-color: var(--hover-color);
}

.user-entry .name-section {
    display: flex;
    flex-direction: column;
    overflow: clip;
    text-overflow: ellipsis;

    .identifier {
        font-size: 0.8em;
        text-overflow: ellipsis;
        overflow: clip;
    }
}

@media screen and (width < 600px) {
    .search {
        flex-direction: column;
    }
}