.padding {
    width: 1px;
    min-height: 1px;
}
.bottom {
    min-height: 1rem;
    @media (max-width: 1000px){
        min-height: 5rem;
    }
}
.scroller {
    display: flex;
    flex-direction: column;
    overflow-x: clip;
    width: 100%;
    align-items: center;
    overflow-anchor: none;
    overscroll-behavior: contain;
}
.target {
    display: flex;  
    flex-direction: column;
    width: 100%;
    align-items: center;
}