.warning-banner {
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    background-color: var(--warning-color);
    color: contrast-color(var(--warning-color));
    border-radius: 0.5rem;
}

.warning-banner a {
    color: contrast-color(var(--warning-color));
    font-weight: bold;
}