.warning-banner {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: var(--warning-color);
    color: contrast-color(var(--warning-color));
    border-radius: 0.5rem;
}

.warning-banner ::deep a, .warning-banner ::deep a:visited {
    color: contrast-color(var(--warning-color));
    font-weight: bold;
}