.page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-color)
}

.main {
    width: 100%;
}

.widget-panel {

}

.sidebar {

}

@media (max-width: 1000px) {
    .widget-panel {
        display: none;
    }

}

.top-bar {
    background-color: var(--background-color);
    border-bottom: 0.1rem var(--highlight-color) solid;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}