@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <Sidebar />
    </div>

    <div class="main">
        @Body
    </div>
    <div class="widget-panel">
        <WidgetPanel/>
    </div>
</div>