@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <Sidebar />
    </div>

    <main>
        @Body
    </main>
    <div class="widget-panel">
        <WidgetPanel/>
    </div>
</div>