@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <AuthorizeView>
            <Authorized>
                <Sidebar/>
            </Authorized>
        </AuthorizeView>
    </div>

    <div class="main">
        <div class="top-bar">
            <SectionOutlet SectionName="top-bar"/>
        </div>
        @Body
    </div>
    <div class="widget-panel">
        <AuthorizeView>
            <Authorized>
                <WidgetPanel/>
            </Authorized>
        </AuthorizeView>
    </div>
</div>