@using Iceshrimp.Frontend.Components
@using Microsoft.AspNetCore.Components.Sections
@using Iceshrimp.Assets.PhosphorIcons
@using Iceshrimp.Frontend.Localization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase
@layout MainLayout
@inject IStringLocalizer<Localization> Loc;

<SectionContent SectionName="top-bar">
    <Icon Name="Icons.Gear"></Icon>
    @Loc["Settings"]
</SectionContent>
<div class="layout">
    <div class="sidebar">
        <SettingsMenu/>
    </div>
    <div class="body">
        @Body
    </div>
</div>
