@using Iceshrimp.Frontend.Components
<div class="sidebar">
    <div class="header">
            <account-dropdown />
    </div>
    <div class="nav">
        <div class="sidebar-btn">
            <NavLink href="/">
                Timeline
            </NavLink>
        </div>
        <div class="sidebar-btn">
            <NavLink href="/notifications">
                Notifications
            </NavLink>
        </div>
        <div class="sidebar-btn">
            <Compose @ref="_compose" />
            <button @onclick="Open">Open!</button>
        </div>
    </div>
</div>
@code {
    private Compose _compose;

    private void Open()
    {
        _compose.OpenDialog();
    }

}