<div class="sidebar">
    <div class="header">
            <account-dropdown />
    </div>
    <div class="nav">
        <div class="sidebar-btn">
            <NavLink href="/">
                Timeline
            </NavLink>
        </div>
        <div class="sidebar-btn">
            <NavLink href="/notifications">
                Notifications
            </NavLink>
        </div>
    </div>
</div>
@code {
    
}