::deep {
    a {
        text-decoration: none;
        color: white;
    }
}

::deep {
    .active {
        >.sidebar-btn {
            background: var(--highlight-color);
            color: var(--link);
        }

        >.bottom-bar-btn {
            background: var(--highlight-color);
        }
    }
}

::deep {
    .bottom-bar-icon {
        font-size: 20px !important;
    }
}

.bottom-bar-btn {
    display: inline-flex;
    height: 3rem;
    width: 5rem;
    min-width: 5rem;
    max-width: 5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: white;
    background: var(--background-color);

    .text {
        display: none;
    }
}

.btn:hover {
    background: var(--hover-color);
}

.icon {
    display: flex;
    margin: 0.5rem;
    align-items: center;
    color: black;
}

.header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    cursor: pointer;
}

.sidebar-btn {
    display: flex;
    /* This is possibly the jankiest parameter i have ever written (it should be percents but this works), it looks okay anyway */
    width: 13rem;
    height: 2.5rem;
    align-items: center;
    justify-content: start;
    border-radius: var(--btn-radius);
    padding-inline: 1rem;
    margin-bottom: 0.5rem;
    margin-inline: 1rem;
    color: var(--font-color);
    font-size: 0.9em;

    > .icon-wrapper {
        padding-right: 0.5rem;
        font-size: 1.5em !important;
        /* why is there a style=“font-size: 16px” in the DOM? remove it !important when it's fixed */
    }
}

.sidebar-btn:hover {
    background-color: var(--hover-color);
}

.post-btn {
    background: var(--accent-color);
    color: var(--foreground-color);
}

.sidebar {
    .post-btn {
        display: flex;
        justify-content: center;
        padding: 2rem;
        font-weight: bold;
        position: relative;

        i {
            left: 1em;
            position: absolute;
        }
    }
}

.rule {
    width: 90%;
    color: var(--highlight-color);
    margin-bottom: 1rem;
    border-style: solid;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
}

.open {
    display: block !important;
    position: fixed;
    width: 15rem;
    height: 100vh;
    z-index: +25;
    background-color: var(--foreground-color);
}

@media (min-width: 1001px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 15rem;
        position: sticky;
        top: 0;
        background-color: var(--background-color);
        border-right: var(--highlight-color) solid 0.05rem;
    }

    .bottom-bar {
        display: none;
    }
}

@media (max-width: 1000px) {
    .sidebar {
        display: none;
    }

    .bottom-bar {
        width: 100vw;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--background-color);
        z-index: +24;
        border-top: 0.1rem var(--highlight-color) solid;
        padding-bottom: env(safe-area-inset-bottom);
    }
}
