.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 15rem;
    min-width: 15rem;
    flex-grow: 1;
    background-color: var(--foreground-color);
}

.header {
    height: 5rem;
}
.sidebar-btn {
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: start;
    border-radius: 1.25rem;
    padding-inline: 0.5rem;
    margin-bottom: 0.5rem;
    margin-inline: 1rem;
    color: black;
    font-size: 0.9em;
    background: var(--accent-color)
}

.btn:hover {
    background-color: var(--hover-color);
}

.icon {
    display: flex;
    margin: 0.5rem;
    align-items: center;
    color: black;
}