.widget-panel-elements {
    display: flex;
    max-width: 23rem;
    max-height: 100%;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.widget-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    height: 3rem;
    border-bottom: 0.05rem solid var(--border-color);
}