.note {
    margin: 1rem auto;
    padding: 1.5rem;
    background-color: var(--foreground-color);
    border-radius: 0.75rem;
}

.note-details {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1em 0;
    overflow: hidden;
}

details {
    width: 100%;
    box-sizing: border-box;
}

.reactions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5em;
    gap: 2em;
}

.reactions .reaction {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.reactions .emoji {
    font-size: 1.5em;
    height: 1em;
    width: auto;
}

.reactions .emoji.sensitive {
    filter: blur(6px);
    transition: filter 0.3s;
}

.reactions .emoji.sensitive:hover {
    filter: blur(0);
}

.note-counts {
    display: flex;
    margin-top: 0.5em;
    gap: 2em;
}

.note-counts .count {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}
