.user {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.avatar {
    border-radius: 8px;
    object-fit: cover;
    width: 3em;
    height: 3em;
}

.avatar.large {
    width: 5em;
    height: 5em;
}

.name-section {
    display: flex;
    flex-direction: column;
}

.display-name {
    color: var(--font-color);
    text-decoration: none;
}

.acct {
    font-size: 0.8em;
}

.host {
    color: var(--font-color);
    opacity: 0.5;
}