.user {
    background-color: var(--foreground-color);
    padding: 1.5rem;
    margin: 1rem auto;
    border-radius: 1rem;
    overflow: hidden;
}

.banner {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 21/9;
    margin: 1rem auto -5.5rem auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.banner::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 1rem auto 0 auto;
    background: linear-gradient(transparent 60%, color-mix(in srgb, var(--dark-color) 65%, transparent));
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    z-index: 1;
}

.banner + .user {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.user-details.above-banner {
    position: relative;
    z-index: +2;
}

/* Add shadow to text if banner is visible */
.user-details.above-banner ::deep .name-section span {
    color: var(--light-color);
    text-shadow: 0 0 5px black;
}

.user ::deep .name-section .display-name {
    font-size: 1.25rem;
}

.user ::deep .name-section .acct {
    font-size: 1rem;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: inherit;
}

.data {
    padding-top: inherit;
}

.badge-feed {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.feeds {
    margin-left: auto;
    justify-content: end;
    width: max-content;
}

.field {
    display: flex;
    column-gap: 0.5rem;
    margin: 0.2rem 0;

    .field-name {
        font-weight: 600;
        width: 10rem;
        word-wrap: break-word;

        .icon-wrapper {
            vertical-align: text-bottom;
        }
    }
}

.field-name.verified {
    color: var(--notice-color);
}

.field .field-value {
    width: calc(100% - 10.5rem);
    word-wrap: break-word;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}