body {
    min-height: unset;
    max-width: 800px;
    margin: 1.2rem auto;
    padding: 0 0.5rem;
    background-color: var(--background-color);
}

footer {
    border-top: 1px solid var(--highlight-color);
    padding-top: 0.5rem;
}

body > footer {
    margin-top: 1rem;
}

ol > li {
    list-style-type: decimal;
}

details {
    margin: 1rem auto;
    padding: 1rem;
    background-color: var(--foreground-color);
    border-radius: 0.75rem;
}

@media screen and (prefers-color-scheme: light) {
    .wordmark {
        filter: invert();
    }
}