body {
    min-height: unset;
    max-width: 800px;
    margin: 1.2rem auto;
    padding: 0 0.5rem;
    background-color: var(--background-color);
}

footer {
    border-top: 1px solid var(--border-color);
    padding-top: 0.5rem;
}

body > footer {
    margin-top: 1rem;
}

ul > li {
    list-style-type: disc;
}

input[type="checkbox"] {
    display: inline-block;
}