@using Microsoft.AspNetCore.Components.Web
<PageTitle>@Title - Admin - @(InstanceName ?? "Iceshrimp.NET")</PageTitle>
<h1>Admin Dashboard</h1>
<button role="link" data-target="/admin" onclick="navigate(event)">Return to overview</button>
<h2>@Title</h2>

@code {
    [Parameter, EditorRequired] public required string Title { get; set; }

    [CascadingParameter(Name = "InstanceName")]
    public required string? InstanceName { get; set; }
}