.file-input {
    display: none;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25vh;
}

.folder-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.folder-path {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

.path-icon {
    line-height: 1;
    align-self: center;
}

.path-entry a:visited {
    color: var(--link-color);
}

.path-entry::after {
    content: "/";
    margin-left: 0.5rem;
}

.drive-files {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}