.file-input {
    display: none;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25vh;
}

.drive-files {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}