.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 3rem;
}

.dialog {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    margin: auto;
    background-color: unset;
    z-index: +11;
}

.backdrop {
    opacity: 50%;
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -2
}

.dialog-content {
    border-radius: 1rem;
    margin: 0 auto;
    top: 10%;
    padding: 1rem;
    position: relative;
    max-width: 30rem;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.title {
    margin: 0;
    font-size: 1.2rem;
}

.otp-input {
    margin-top: 1rem;
}

.user-picker {
    display: flex;
    flex-wrap: wrap;
}

.user {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    border: 0.1rem var(--highlight-color) solid;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    align-items: center;

    .username {
        margin-top: 0.5rem;
    }
}

.user:hover {
    transition: border-color 250ms;
    border-color: var(--notice-color);
}

.register-link {
    margin-top: 2rem;
}
