.scroller {
    height: 100vh;
    overflow-y: auto;
    overflow-x: clip;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.subheader {
    display: flex;
}

.name-section {
    margin-left: 1rem;
    word-break: break-word;
}

.name {
    font-size: 1.25rem;
}

.identifier {
    font-size: 1rem;
}

.follows-badge {
    display: inline-block;
    padding: 0 0.5rem;
    background-color: var(--highlight-color);
    border-radius: 0.5rem;
    margin-left: 0.5rem;
}

.context-button {
    margin-left: auto;
    padding: 0.75em;
    line-height: 1;
}

::deep {
    .context-button {
        .ph {
            vertical-align: middle;
        }
    }
}

.follow-button + .context-button {
    margin-left: 0.5rem;
}

.profile-card {
    margin: auto;
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--foreground-color);
    max-width: 45rem;
}

.banner + .profile-card {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.banner {
    display: block;
    width: 100%;
    max-width: 45rem;
    height: auto;
    object-fit: cover;
    aspect-ratio: 21/9;
    margin: 1rem auto auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.notes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-container {
    max-width: 45rem;
    background-color: var(--foreground-color);
    padding: 1.5rem 1.5rem 1rem; /* top, left-right, bottom*/
    @media (max-width: 1000px) {
        padding: 1.5rem 1rem 1rem;
    }
    border-radius: 0.75rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    width: 100%;
    overflow: clip;
}

::deep .end {
    display: flex;
    flex-direction: column;
    align-items: center;
}