.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input:invalid {
    border: 0.1rem solid var(--highlight-color);
}

.logo {
    height: 3rem;
}