.root-note {
    max-width: 45rem;
    /*min-width: 25rem;*/
    background-color: var(--foreground-color);
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: solid var(--highlight-color) 0.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.scroller {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: clip;
}
.descendants {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.wrapper {
    background-color: var(--foreground-color);
    border-radius: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;

}
.ascendants {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}