@page "/"
@attribute [Authorize]
@using Iceshrimp.Frontend.Core.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject SessionService Session
@inject NavigationManager Navigation
<h3>Timeline</h3>
@if (username != null)
{
    <span>You are logged in as @username </span>
    <AuthorizeView>
        <p>Authorization says you are @context.User.Identity!.Name</p>
    </AuthorizeView>
    <button @onclick="Logout">Logout</button>
}else
{
    <span>Not logged in</span>
}



@code {
    private string? username;

    protected override void OnInitialized()
    {
        if (Session.Current != null)
        {
            username = Session.Current.Username;
        }
    }

    public void Logout()
    {
        Session.EndSession();
        Navigation.NavigateTo("/login");
    }
}