<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Iceshrimp</title>
    @* ReSharper disable once Html.PathError *@
    <link rel="stylesheet" href="~/Iceshrimp.Backend.styles.css"/>
    <link rel="stylesheet" href="~/css/default.css"/>
</head>
<body>
@RenderBody()
</body>
</html>