@inject IOptions<Config.InstanceSection> Instance
@inject IOptionsSnapshot<Config.SecuritySection> Security
@using Iceshrimp.Backend.Core.Configuration
@using Iceshrimp.Backend.Core.Extensions
@using Iceshrimp.Backend.Core.Middleware
@using Microsoft.Extensions.Options
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>@(ViewData["title"] ?? "Iceshrimp.NET")</title>
    @* ReSharper disable Html.PathError *@
    <link rel="stylesheet" href="~/Iceshrimp.Backend.styles.css"/>
    <link rel="stylesheet" href="~/css/default.css"/>
    <link rel="icon" type="image/png" href="~/_content/Iceshrimp.Assets.Branding/favicon.png"/>
    @* ReSharper restore Html.PathError *@
    @await RenderSectionAsync("styles", false)
    @await RenderSectionAsync("head", false)
</head>
<body>
@RenderBody()
@await RenderSectionAsync("scripts", false)
<footer>
    <div class="footer">
        <span>
            <strong>Iceshrimp.NET</strong> v@(Instance.Value.Version)
        </span>
        @if (!Context.ShouldHideFooter())
        {
            <div>
                @if (Security.Value.Registrations != Enums.Registrations.Closed)
                {
                    <a href="/register">Register</a>
                    <span aria-hidden="true">&bullet;</span>
                }
                <a href="/login?rd=@((Context.Request.Path.Value ?? "/").UrlEncode())">Login</a>
            </div>
        }
    </div>
</footer>
</body>
</html>