@* ReSharper disable Html.PathError *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>@(ViewData["title"] ?? "Iceshrimp.NET")</title>
    <link rel="stylesheet" href="~/Iceshrimp.Backend.styles.css"/>
    <link rel="stylesheet" href="~/css/default.css"/>
    @await RenderSectionAsync("head", false)
</head>
<body>
@RenderBody()
</body>
</html>
@* ReSharper restore Html.PathError *@