@page
@using Iceshrimp.Backend.Core.Configuration
@using Microsoft.Extensions.Options
@inject IOptions<Config.InstanceSection>        Config
@{
    Layout = null;
}
@* ReSharper disable Html.PathError *@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="version" content="@Config.Value.RawVersion"/>
    <meta name="codename" content="@Config.Value.Codename"/>
    <meta name="commit" content="@Config.Value.CommitHash"/>
    <title>Iceshrimp.Frontend</title>
    <base href="/"/>
    <link rel="stylesheet" href="~/css/app.css"/>
    <link rel="stylesheet" href="~/_content/Iceshrimp.Assets.PhosphorIcons/css/ph-regular.css"/>
    <link rel="icon" type="image/png" href="~/favicon.png"/>
    <link href="~/Iceshrimp.Frontend.styles.css" rel="stylesheet"/>
</head>

<body>
<div id="app">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    @* We need text on screen so chrome actually renders the loading animation *@
    &nbsp;
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="~/_framework/blazor.webassembly.js"></script>
</body>

</html>
@* ReSharper restore Html.PathError *@