.item {
    overflow: auto;
    user-select: all;
}

.qr {
    display: block;
    width: 20rem;
    max-width: 75vw;
    border: white 0.75rem solid;
    margin: 1rem auto;
}

.otp-input {
    margin: 1rem auto;
}